body{
    box-sizing: border-box;
    margin:0;
    font-family: "Garamond";
    color:white;
    background-color: #000004;
    overflow:hidden;
}
.licznik{
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image:url(./Winz_visualisation_of_love_.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    line-height: 100px;
    text-align: center;
}
.text-licznik{
    font-size: 80px;
}
#czas{

    font-size: 40px;
    font-weight: bold;
    text-decoration: overline;
}
.tlo{
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.582);
    border-radius: 15px;
}
.zdjecia{
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.z{
    width: 80vw;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
#muza{
    visibility:hidden;
}
